h1 {
    color:rgb(106, 154, 220);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size: 10px
}
body {
    background-color: rgb(24, 5, 5);
}
p {
    color:rgb(134, 112, 201)
}
button {
    background-color: rgb(27, 46, 81);
    color: rgb(58, 159, 159);
    border-style: double;
    border-color: rgb(42, 165, 151);
}